[advice]
	detachedHead = false
	pushNonFastForward = false
	statusHints = false
[alias]
	alias = "!_() { git config --global alias.$1 \"$2\"; }; _"
	aliases = config --get-regexp ^alias\\.
	checkup = !git log -1 && (git fetch --all 2>/dev/null || true) && git status
# Run a command with the repository root as cwd. See
# https://stackoverflow.com/questions/957928#comment9747528_957978.
	exec = "!exec "
	msg = log --format=%B -1
	root = rev-list --max-parents=0 HEAD
	setup = !git init && git commit --allow-empty -m \"Initial commit\"
	unalias = "!_() { git config --global --unset alias.$1; }; _"
[branch]
	autosetupmerge = true
[color]
	ui = auto
[core]
	autocrlf = false
	excludesfile = ~/.gitexclude
	# Always use the pager. This is important for Yay, which uses
	# 'git diff' to print diffs, which may disappear off the top
	# of the screen if the pager doesn't get invoked for each one.
	# See <https://stackoverflow.com/a/12352224/3538165>.
	pager = less -+F
[credential]
	helper =
	helper = cache --timeout 86400
[diff]
	mnemonicprefix = true
	renames = copies
	submodule = log
[filter "lfs"]
	clean = git-lfs clean -- %f
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
	stat = true
[protocol "hg"]
	allow = always
[pull]
	ff = only
[push]
	default = current
[rebase]
	autosquash = true
[receive]
	denyCurrentBranch = updateInstead
[rerere]
	enabled = true
[status]
	submodulesummary = true
# .gitconfig.local should be included last.
[include]
	path = ~/.gitconfig.local
