/.emacs.d/auto-save-list/
/.emacs.d/company-statistics-cache.el
/.emacs.d/.#company-statistics-cache.el
/.emacs.d/elpa/
/.emacs.d/ido.last
/.emacs.d/.#ido.last
/.emacs.d/projectile.cache
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/smex-items
/.emacs-backups/
/.emacs-undos/
/.gnupg/
/.lein/repl-history
/.lein/repl-port
/.lein/self-installs
/scripts/original_dotfiles/
.esup-results.el
